fieldset,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
	border: 0;
	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: disc inside;
}

::marker {
	margin-right: calc(var(--global-margin-unit) * .5);
}

a {
	color: var(--global-text-link-color);
	text-decoration: none;

	word-wrap: break-word;
	word-break: break-word;
}

a:hover,
a:link,
a:visited,
a:active {
	text-decoration: none;
}

button {
	background-color: transparent;
}

hr {
	margin: 0;
	border: 0 solid var(--global-divider-color);
	border-bottom-width: thin;
	border-right-width: thin;
	align-self: stretch;
	height: auto;
	flex-shrink: 0;
}

svg {
	width: 1em;
	height: 1em;
	font-size: inherit;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--global-font-family);
	font-weight: var(--global-font-weight-regular);
	font-size: var(--global-font-size);
	line-height: 1.5;
	letter-spacing: 0.00938em;
	background-color: var(--global-bg-color);
	color: var(--global-text-primary-color);
	margin: 0;
}
